html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,li {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
video {
	height: auto;
	width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/**/

body{
  background-color: #adc4cc;
}

.header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /*background-color: pink;*/

}

.header a{
  margin: 6px;
  font-size: 8pt;
  text-decoration: none;
  color: black;
}

.header a:active{
  text-decoration: underline;
  color: black;
}

.home{
  width:50%;
  float: left;
}

.pages{
  width:50%;
  float: left;
}

.content{
  width: 100%;
  margin-top: 5vw;
  text-align: center;

}

li{
  margin-top: 3vw;
}

p{
    width: 47vw;
    padding-top: 7vw;
    padding-bottom: 7vw;
    padding-left: 3vw;
    padding-right: 3vw;
    display: inline-block;

    background-color: #f2f2f2;
    color: black;

    font-size: 13px;
    line-height: 27px;
    text-align: left;
}
